*.xlsx
**/deck/**
**/__pycache__/**
**/.venv/**
**/build/**
**/.vscode/**
**/com.castsoftware.uc.arg.egg-info/**
com.castsoftware.uc.arg.code-workspace
*.save
*.ipynb
*.pptx
pip*.bat
*.yp
**test**
**/templates/**
*.json
*.nuspec
*.nupkg
*.zip